html {
  background: url("https://hawaiisa.github.io/vanillaplus-talent-calculator/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #141414;
}

body {
  
  box-sizing: border-box;
  --col-background: #141414;
  --col-pane: #222222;
  --col-yellow: #ffd100;
  --col-red: #ff4040;
  --col-green: #1eff00;

  --icon-size: 2.75rem;
  --arrow-thickness: 1rem;

  --z-index-arrow: 100;
  --z-index-tooltip: 200;
  --z-index-sticky: 300;

  --sp-xxxs: 0.0625rem;
  --sp-xxs: 0.125rem;
  --sp-xs: 0.25rem;
  --sp-sm: 0.5rem;
  --sp-md: 1rem;
  --sp-lg: 2rem;
  --sp-xl: 4rem;

  margin: 0;
  font-family: "Helvetica";
  
}
	
.image-logo {
  max-width:10%;
  max-height:10%;
  position: absolute;
  left: 1%;
  bottom: 7%;
}

#footer {
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
  height: 1rem;
}
